@model MvcUI.Models.Subjects

@section Links
{
    @Styles.Render("~/Content/admin/css")
}
@section scripts
{
    @Scripts.Render("~/Content/admin/js")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
}
@{
    ViewBag.Title = "Administration";
}

<div class="stroke">
    @foreach(var subject in Model.Data)
    {
        <div class="subject">
            <img onclick="hide(@subject.Subject.Id)&changeImage(jQuery.event.fix(event).target)" src="~/Content/admin/images/hide.png" width="15" height="15">
            @Html.RouteLink(@subject.Subject.Name, new { controller = "Admin", action = "EditSubject", subjectId = @subject.Subject.Id}, new { @id = "Button-black" })
            <div id="@subject.Subject.Id">
                @foreach (var test in subject.Tests)
                {   
                    @Html.ActionLink(test.Name, "EditTest", "Admin", new { testId = test.Id},null)
                    <br />
                }
            </div>
        </div>
    }
    <div class="subject-editor-add">@{Html.RenderAction("AddSubject", "Admin", new { controllerName = "Admin"});}</div>
</div>
